html {
    background-color: #e8eaf6;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px 20px;
}

h1 {
    margin: 0;
    font-size: 3em;
    text-align: left;
}

h2 {
    margin: 10px 0;
    font-size: 2em;
    letter-spacing: 1.7px;
    color: #801313;
}

h3 {
    margin: 0 10px;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #1a237e;
}

p, li {
    font-size: 1.35em;
    line-height: 2;
    letter-spacing: 1px;
}

b {
    color: #1a237e;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #9fa8da;
}

.nav-item {
    padding: 0 10px;
    background-color: #e57373; 
}

.nav-link {
    text-decoration: none;
    color: white;
}

.active {
    background-color: #e53935;
}